<div class="row w-100 d-flex">
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-4 col-sm-12">
        <div class="container" style="background-color: aqua;">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <app-input-field lablename="Email" type="email" name="username" placeholder="Email"></app-input-field>
                    </div>
                    <div class="col-md-12">
                        <app-input-field lablename="Password" type="password" name="pasword" placeholder="Password"></app-input-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>