.container{
    margin-top: 100px;
    padding: 50px 50px;
    border-radius: 50px 0 50px 0;
    -webkit-box-shadow: 0px 3px 10px 12px rgba(143,140,143,1);
    -moz-box-shadow: 0px 3px 10px 12px rgba(143,140,143,1);
    box-shadow: 0px 3px 10px 12px rgba(143,140,143,1);
    background-color: #fff;
}
.container h1{
    font-family: 'Times New Roman', Times, serif;
    /* color: #fff; */
    text-align: center;
    font-size: 30px;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.ng-invalid:not(form) {
    color: red;
}